@model dynamic

<h2>Brewery counts by postal code in @Request["city"], @Request["province"], @Request["country"]</h2>

<ul>
@foreach (KeyValuePair<string, int> item in Model)
{
    <li>
       @Html.ActionLink(item.Key, "Details",
            new { country = Request["country"], 
                  province = Request["province"], 
                  city = Request["city"],
                  code = item.Key})
        (@item.Value)        
    </li>
}
</ul>

@Html.ActionLink("Back to Country List", "Index")